<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.ed.inf.pepa.eclipse.ui.editor.PEPAEditor"
            default="false"
            extensions="pepa"
            icon="icons/pepa16.png"
            id="uk.ac.ed.inf.pepa.eclipse.ui.editor.PEPAEditor"
            name="PEPA Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            name="PEPA"/>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.astview.ASTView"
            id="uk.ac.ed.inf.pepa.eclipse.ui.ASTView"
            name="AST View"/>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.statespaceexplorer.StateSpaceExplorer"
            id="uk.ac.ed.inf.pepa.eclipse.ui.stateSpaceView "
            name="State Space View "/>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.cptview.CapacityPlanningView"
            id="uk.ac.ed.inf.pepa.eclipse.ui.view.cptview"
            name="Capacity Planning Tree">
      </view>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.cptview.CapacityPlanningListView"
            id="uk.ac.ed.inf.pepa.eclipse.ui.view.cptlist"
            name="Capacity Planning List">
      </view>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.utilisationview.UtilisationView"
            id="uk.ac.ed.inf.pepa.eclipse.ui.utilisationView"
            name="Performance Evaluation"/>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.abstractionview.AbstractionView"
            icon="icons/abstract.png"
            id="uk.ac.ed.inf.pepa.eclipse.ui.AbstractionView"
            name="Abstraction View">
      </view>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.view.modelcheckingview.ModelCheckingView"
            icon="icons/model_check.png"
            id="uk.ac.ed.inf.pepa.eclipse.ui.ModelCheckingView"
            name="Model Checking View">
      </view>
      <view
            category="uk.ac.ed.inf.pepa.eclipse.ui.pepa"
            class="uk.ac.ed.inf.pepa.eclipse.ui.largescale.DifferentialExplorer"
            icon="icons/ode.png"
            id="uk.ac.ed.inf.pepa.eclipse.ui.odeView"
            name="Differential Analysis"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="uk.ac.ed.inf.pepa.eclipse.ui.editorActions"
            sibling_order="&lt;action&#x0A;               class=&quot;uk.ac.ed.inf.pepa.eclipse.ui.ode.CapacityUtilisationActionDelegate&quot;&#x0A;               id=&quot;uk.ac.ed.inf.pepa.eclipse.ui.ode.capacityutilisation&quot;&#x0A;               label=&quot;Average Response Time&quot;&#x0A;               menubarPath=&quot;uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.ode.menu/content&quot;&#x0A;               style=&quot;push&quot;&gt;&#x0A;         &lt;/action&gt;"
            targetID="uk.ac.ed.inf.pepa.eclipse.ui.editor.PEPAEditor">
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu"
               label="PEPA"
               path="additions">
            <groupMarker name="content"/>
            <groupMarker
                  name="content2">
            </groupMarker>
            <separator name="additions"/>
         </menu>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.largescale.ResponseTimeActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.responseTime"
               label="Average Response Time..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.ode.menu/content1"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.largescale.CapacityUtilisationActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.ode.capacityutilisation"
               label="Capacity Utilisation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.ode.menu/content2"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.largescale.PopulationLevelActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.ode.populationlevel"
               label="Population Level..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.ode.menu/content3"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.largescale.ThroughputActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.ode.throughput"
               label="Throughput..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.ode.menu/content4"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.ExperimentationActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.experimentation"
               label="Experimentation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"/>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.PassageTimeActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.passageTime"
               label="Passage-Time Analysis..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"
               style="push"/>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.SteadyStateCTMCSolverDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.steadyStateCTMCSolve"
               label="Steady State Analysis..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"
               style="push"
               tooltip="Calculate the steady state probability distribution of the underlying CTMC"/>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.PSNIVerifyDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.PSNIVerify"
               label="Verify PSNI..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"
               style="push"
               tooltip="Verify the Persistent Stochastic Non-Interference (PSNI)"/>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.DeriveActionDelegate"
               icon="icons/derive.gif"
               id="uk.ac.ed.inf.pepa.eclipse.ui.deriveAction"
               label="Derive"
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"
               style="push"
               tooltip="Derive the state space of the underlying CTMC"/>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.ode.menu"
               label="Scalable Analysis"
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/content">
            <groupMarker
                  name="content1">
            </groupMarker>
            <groupMarker
                  name="content2">
            </groupMarker>
            <groupMarker
                  name="content3">
            </groupMarker>
            <groupMarker
                  name="content4">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC"
               label="Markovian Analysis"
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/content">
            <groupMarker name="content"/>
            <groupMarker
                  name="additions">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.cp.menu"
               label="Capacity Planning"
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/content2">
            <groupMarker
                  name="content1">
            </groupMarker>
            <groupMarker
                  name="content2">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
            <groupMarker
                  name="content3">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.LatexifyActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.latexify"
               label="LaTeXify..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/additions"
               style="push">
         </action>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.cp.pso.menu"
               label="Particle Swarm Optimisation (PSO)..."
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/content1">
            <groupMarker
                  name="content1">
            </groupMarker>
            <groupMarker
                  name="content2">
            </groupMarker>
            <groupMarker
                  name="content3">
            </groupMarker>
            <groupMarker
                  name="content4">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.CapacityPlanningARTActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.pso.art"
               label="Average Reponse Time..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.pso.menu/content1"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.CapacityPlanningCAPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.pso.cap"
               label="Capacity Utilisation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.pso.menu/content2"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.CapacityPlanningPOPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.pso.pop"
               label="Population Level..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.pso.menu/content3"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.CapacityPlanningTHRActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.pso.thr"
               label="Throughput..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.pso.menu/content4"
               style="push">
         </action>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.cp.dpso.menu"
               label="Driven Particle Swarm Optimisation (dPSO)..."
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/content2">
            <groupMarker
                  name="content1">
            </groupMarker>
            <groupMarker
                  name="content2">
            </groupMarker>
            <groupMarker
                  name="content3">
            </groupMarker>
            <groupMarker
                  name="content4">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.DrivenCapacityPlanningARTActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.dpso.art"
               label="Average Response Time..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.dpso.menu/content1"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.DrivenCapacityPlanningCAPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.dpso.cap"
               label="Capacity Utilisation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.dpso.menu/content2"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.DrivenCapacityPlanningPOPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.dpso.pop"
               label="Population Level..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.dpso.menu/content3"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.DrivenCapacityPlanningTHRActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.dpso.thr"
               label="Throughput..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.dpso.menu/content4"
               style="push">
         </action>
         <menu
               id="uk.ac.ed.inf.pepa.eclipse.ui.cp.bf.menu"
               label="Brute force..."
               path="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/content3">
            <groupMarker
                  name="content1">
            </groupMarker>
            <groupMarker
                  name="content2">
            </groupMarker>
            <groupMarker
                  name="content3">
            </groupMarker>
            <groupMarker
                  name="content4">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.BFARTActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.bf.art"
               label="Average Reponse Time..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.bf.menu/content1"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.BFCAPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.bf.cap"
               label="Capacity Utilisation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.bf.menu/content2"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.BFPOPActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.bf.pop"
               label="Population Level..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.bf.menu/content3"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.capacityPlanning.BFTHRActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.bf.thr"
               label="Throughput..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.cp.menu/uk.ac.ed.inf.pepa.eclipse.ui.cp.bf.menu/content4"
               style="push">
         </action>
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.AggregationActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.aggregation"
               label="Aggregation..."
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/uk.ac.ed.inf.pepa.eclipse.ui.editorMenu.CTMC/content"
               style="push"
               tooltip="Aggregation settings">
         </action>
         <!--<action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.TimeSeriesAnalysisActionDelegate"
               id="uk.ac.ed.inf.pepa.eclipse.ui.timeSeriesAnalysis"
               label="Time Series Analysis Wizard"
               menubarPath="uk.ac.ed.inf.pepa.eclipse.ui.editorMenu/content2"
               style="push"
               tooltip="Perform time series analysis using ODEs or SSAs"/>-->
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.ed.inf.pepa.eclipse.ui.PerspectiveFactory"
            icon="icons/pepa16.png"
            id="uk.ac.ed.inf.pepa.eclipse.ui.PepaPerspective"
            name="PEPA"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="uk.ac.ed.inf.pepa.eclipse.ui.popupMenu.cmdl"
            nameFilter="*.cmdl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="uk.ac.ed.inf.pepa.eclipse.ui.actions.CMDLActionDelegate"
               enablesFor="1"
               id="uk.ac.ed.inf.pepa.eclipse.ui.popupMenu.cmdl.timeSeriesAnalysis.ODE"
               label="Time Series Analysis of CMDL"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
